name: autoSyncMergedPullRequest
on:
  pull_request:
    types:
      - closed
    branches: [ "main" ]
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Show PR info
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          echo The PR #${{ github.event.pull_request.number }} was merged on main branch!
          echo "$GITHUB_CONTEXT"
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.AUTOSYNC_TOKEN }}
          repository: ${{ secrets.AUTOSYNC_CH_URL }}
          event-type: ${{ secrets.AUTOSYNC_PR_EVENT_TYPE }}
          client-payload: >- # break string in YAML over multiple lines without linebreak appended at the end
            '{
              "ref": "${{ github.ref }}",
              "prNumber": "${{ github.event.pull_request.number }}",
              "prTitle": "${{ github.event.pull_request.title }}",
              "sha": "${{ github.sha }}"
            }'
